.sub-article-section .content {
  width: 70%;
}
.gardenia-title {
  font-size: 0.875rem;
  line-height: 25px;
}
@media (min-width: 480px) {
  .gardenia-title {
    font-size: 0.875rem;
    line-height: 25px;
  }
}
@media (min-width: 575px) {
  .gardenia-title {
    font-size: 0.875rem;
    line-height: 25px;
  }
}
@media (min-width: 767px) {
  .gardenia-title {
    font-size: 0.875rem;
    line-height: 25px;
  }
}
@media (min-width: 991px) {
  .gardenia-title {
    font-size: 1rem;
    line-height: 25px;
  }
}
@media (min-width: 1200px) {
  .gardenia-title {
    font-size: 1rem;
    line-height: 25px;
  }
}
.gardenia-sub-title-font {
  font-size: 1.75rem;
  line-height: 2.125rem;
}
@media (min-width: 480px) {
  .gardenia-sub-title-font {
    font-size: 1.5rem;
    line-height: 3.125rem;
  }
}
@media (min-width: 576px) {
  .gardenia-sub-title-font {
    font-size: 1.75rem;
    line-height: 35px;
  }
}
@media (min-width: 767px) {
  .gardenia-sub-title-font {
    font-size: 1.5rem;
    line-height: 2.125rem;
  }
}
@media (min-width: 991px) {
  .gardenia-sub-title-font {
    font-size: 1.75rem;
    line-height: 2.125rem;
  }
}
@media (min-width: 1200px) {
  .gardenia-sub-title-font {
    font-size: 2.5rem;
    line-height: 3.125rem;
  }
}
.paragraph-font {
  font-size: 1rem;
  line-height: 1.75rem;
}
@media (min-width: 480px) {
  .paragraph-font {
    font-size: 1rem;
    line-height: 26px;
  }
}
@media (min-width: 576px) {
  .paragraph-font {
    font-size: 1rem;
    line-height: 26px;
  }
}
@media (min-width: 767px) {
  .paragraph-font {
    font-size: 1rem;
    line-height: 26px;
  }
}
@media (min-width: 991px) {
  .paragraph-font {
    font-size: 0.75rem;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  .paragraph-font {
    font-size: 0.875rem;
    line-height: 24px;
  }
}
