.green-thumb .coming-soon .inner-image {
  width: 180px;
}
@media (min-width: 768px) {
  .green-thumb .coming-soon .inner-image {
    width: 190px;
  }
}
.green-thumb .circTxt {
  top: -22%;
  left: 50%;
}
.green-thumb .circTxt p {
  font-family: 'Recoleta';
  color: #9CC190;
}
.palette .category-images {
  max-width: 550px;
  margin: 0 auto;
}
.palette .category-images .row .col-4:nth-child(2) {
  margin-top: 1rem;
}
.palette .category-images .bg-cover {
  top: 15%;
  bottom: 20%;
  background: #EBEFDE;
  left: -5%;
  right: -5%;
  z-index: -1;
}
@media (min-width: 375px) {
  .palette .category-images .bg-cover {
    left: -4%;
    right: -4%;
  }
}
@media (min-width: 425px) {
  .palette .category-images .bg-cover {
    left: -3%;
    right: -3%;
  }
}
@media (min-width: 576px) {
  .palette .category-images .bg-cover {
    left: -5%;
    right: -5%;
  }
}
.social-share.social-share-green-thumb .slick-slider {
  padding-left: 0rem!important;
  padding-right: 0rem!important;
}
@media (min-width: 768px) {
  .social-share.social-share-green-thumb .slick-slider {
    max-width: 500px;
    margin: auto;
  }
}
@media (min-width: 991px) {
  .social-share.social-share-green-thumb .slick-slider {
    max-width: 600px;
    margin: auto;
  }
}
@media (min-width: 1200px) {
  .social-share.social-share-green-thumb .slick-slider {
    max-width: 700px;
    margin: auto;
  }
}
.social-share.social-share-green-thumb .slick-slider .slick-prev {
  top: unset;
  transform: none;
  bottom: -30px;
}
@media (min-width: 768px) {
  .social-share.social-share-green-thumb .slick-slider .slick-prev {
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    left: -15px;
  }
}
.social-share.social-share-green-thumb .slick-slider .slick-next {
  top: unset;
  transform: none;
  bottom: -30px;
}
@media (min-width: 768px) {
  .social-share.social-share-green-thumb .slick-slider .slick-next {
    bottom: unset;
    top: 50%;
    right: -15px;
  }
}
.social-share.social-share-green-thumb .slick-slider .img-1 {
  padding-left: 25px;
  padding-right: 25px;
}
@media (min-width: 425px) {
  .social-share.social-share-green-thumb .slick-slider .img-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 768px) {
  .social-share.social-share-green-thumb .slick-slider .img-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}
